Danylo Lavrov <lavrovdanylo@gmail.com>
Fabian Barrasch <f.barrasch@outlook.com>
Ivona Goranova <ivgoranova@edu.aau.at>
Lea Kandut <soupcuby@gmail.com>
Lea Kutschera <leavalentinakutschera@gmail.com>
Lev Starman <lev.starman1@gmail.com>
Moritz Gutschi <moritz.gutschi@outlook.com>
Valentina Schiavon <valentinaschiavon99@gmail.com> <valentinasch@edu.aau.at>


